<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>
<body>
    <h3>Write new chat..</h3>
    <form method="post" action="/chats">
        <input name="from" placeholder="who are you?">
        <br><br>
        <textarea name="msg">Write you massage here..</textarea>
        <br><br>
        <input placeholder="add receiver" name="to">
        <br><br>
        <button>Create Chat</button>
    </form>
</body>
</html>